<!DOCTYPE html>
<html lang="en">
<head>
<title>STYC</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Unicat project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="styles/bootstrap4/bootstrap.min.css">
<link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="styles/main_styles.css">
<link rel="stylesheet" type="text/css" href="styles/responsive.css">
<link rel="stylesheet" type="text/css" href="styles/about.css">
<link rel="stylesheet" type="text/css" href="styles/about_responsive.css">
<!-- Demo styles -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
 <link rel="stylesheet" href="styles/style.css">

</head>
<body>
	<div class="super_container">

	<!-- Header -->

	<header class="header">
			
		<!-- Top Bar -->
		

		<!-- Header Content -->
		<div class="header_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="header_content d-flex flex-row align-items-center justify-content-start">
							<div class="logo_container">
								<a href="/">
									<div class="logo_text">
										<img src="images/styc_logo.png" alt="logo" width="100px">
									</div>
								</a>
							</div>
							<nav class="main_nav_contaner ml-auto">
								<ul class="main_nav">
									<li><a href="/">Home</a></li>
									<li><a href="/internship">Internship</a></li>

									<li><a href="/about">Mentor</a></li>
									<li><a href="/contact">Contact</a></li>
									<li><a href="/signup" class="btn btn-primary">Log In/Sign Up</a></li>
								</ul>

								<!-- Hamburger -->

								<div class="hamburger menu_mm">
									<i class="fa fa-bars menu_mm" aria-hidden="true"></i>
								</div>
							</nav>

						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Header Search Panel -->
		<div class="header_search_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="header_search_content d-flex flex-row align-items-center justify-content-end">
							<form action="#" class="header_search_form">
								<input type="search" class="search_input" placeholder="Search" required="required">
								<button class="header_search_button d-flex flex-column align-items-center justify-content-center">
									<i class="fa fa-search" aria-hidden="true"></i>
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>			
		</div>			
	</header>

	<!-- Menu -->

	<div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
		<div class="menu_close_container"><div class="menu_close"><div></div><div></div></div></div>
		
		<nav class="menu_nav">
			<ul class="menu_mm">
				<li class="active"><a href="/">Home</a></li>
			    <li><a href="/internship">Internship</a></li>
				<li><a href="/mentor">Mentors</a></li>
				<li ><a href="/contact">Contact</a></li>
			</ul>
		</nav>
	</div>
	
	<!-- Home -->

	<div class="home" style="background-image: url(images/gra.png);">
		<div class="breadcrumbs_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="breadcrumbs" >
							<ul>
								<li><a href="/">Home</a></li>
								<li><a href="/Internship">Internship</a></li>
								<li><a style="color:#fff;">Electronics and Communication</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>			
	</div>

<div class="about" style="padding-top: 10px;">
		<div class="container pad">
			<div class="row">
				<div class="col">
					<div class="section_title_container text-center">
						<h2 class="section_title" >Electronics & Communication</h2>
					</div>
				</div>
			</div><br><br>
			<div class="row about_row">

				<!-- About Item -->
				<div class="col-lg-4 about_col about_col_middle">
					<div class="about_item">
						<div class="course">
						<div class="course_image"><a href="/iot"><img src="images/iot.jpg" alt=""  width="100%"></a></div>
						<div class="course_body">
							<h3 class="course_title"><a href="/iot">IOT</a></h3>
							<div class="course_teacher">Mr. Parvez Nadvi</div>
							<nav >
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <p class="trainer" style="float:right;padding-right: 10px;"><i class="fa fa-users" aria-hidden="true"></i>2700</p>
                            </nav>
						</div>
					</div>
					</div>
				</div>

				<!-- About Item -->
				<div class="col-lg-4 about_col about_col_middle">
					<div class="about_item">
						<div class="course">
						<div class="course_image"><a href="/robotics"><img src="images/robo.jpg" alt=""  width="100%"></a></div>
						<div class="course_body">
							<h3 class="course_title"><a href="/robotics">Robotics</a></h3>
							<div class="course_teacher">Mr. Parvez Nadvi</div>
							<nav >
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <p class="trainer" style="float:right;padding-right: 10px;"><i class="fa fa-users" aria-hidden="true"></i>2700</p>
                            </nav>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<footer class="footer">
		<div class="footer_background" style="background-image:url(images/footergradient.jpg)"></div>
		<div class="container">
			<div class="row footer_row">
				<div class="col">
					<div class="footer_content">
						<div class="row">

							<div class="col-lg-4 footer_col">

								<!-- Footer About -->
								<div class="footer_section footer_about">
									<div class="footer_logo_container">
											<div class="footer-styc-logo">

													<div><a href="/">	<img class="" src="images/styc_logo.png" alt="styc_logo" width="50%"></div>
													</a>
											</div>
									</div>
									<div class="footer_about_text">
										<p>We believe in Strengthening youths career in every possible way in a personalized manner to help students to reach their career goal not on some jobs.</p>
									</div>
									<!-- <div class="footer_social">
										<ul>
											<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
										</ul>
									</div> -->
								</div>

							</div>

							<div class="col-lg-4 footer_col">

								<!-- Footer Contact -->
								<div class="footer_section footer_contact">
									<div class="footer_title">Contact Us</div>
									<div class="footer_contact_info">
										<ul>
												<li>Email: support@styc.in</li>
												<li>Phone:  +(91) 6362886228 </li>
											<li>40 Baria Sreet 133/2 New York City, United States</li>
										</ul>
									</div>
								</div>

							</div>

							<div class="col-lg-4 footer_col">

								<!-- Footer links -->
								<div class="footer_section footer_links">
									<div class="footer_title">Contact Us</div>
									<div class="footer_links_container">
							<ul>
												<li><a href="/">Home</a></li>
												<li><a href="/about">About</a></li>
												<li><a href="/contact">Contact</a></li>
												<li><a href="/blog">Blogs</a></li>
												<li><a href="/internship">Courses</a></li>
												<li><a href="/events">Events</a></li>
												<li><a href="/Gallery">Gallery</a></li>
												<li><a href="/faq">FAQs</a></li>
											</ul>
									</div>
								</div>

							</div>

							<!-- <div class="col-lg-3 footer_col clearfix">


								<div class="footer_section footer_mobile">
									<div class="footer_title">Mobile</div>
									<div class="footer_mobile_content">
										<div class="footer_image"><a href="#"><img src="images/mobile_1.png" alt=""></a></div>
										<div class="footer_image"><a href="#"><img src="images/mobile_2.png" alt=""></a></div>
									</div>
								</div>

							</div> -->

						</div>
					</div>
				</div>
			</div>

			<div class="row copyright_row">
				<div class="col">
					<div class="copyright d-flex flex-lg-row flex-column align-items-center justify-content-start">
						<div class="cr_text"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
<span style="color:black">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</span>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
						<!-- <div class="ml-lg-auto cr_links">
							<ul class="cr_list">
								<li><a href="#">Copyright notification</a></li>
								<li><a href="#">Terms of Use</a></li>
								<li><a href="#">Privacy Policy</a></li>
							</ul>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>

  <script src="../dist/js/swiper.min.js"></script>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="styles/bootstrap4/popper.js"></script>
<script src="styles/bootstrap4/bootstrap.min.js"></script>
<script src="plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="plugins/easing/easing.js"></script>
<script src="plugins/parallax-js-master/parallax.min.js"></script>
<script src="plugins/colorbox/jquery.colorbox-min.js"></script>
<script src="js/course.js"></script>
</body>
</html>