<!DOCTYPE html>
<html lang="en">
<head>
<title>Course Details</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Unicat project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="styles/bootstrap4/bootstrap.min.css">
<link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="styles/course.css">
<link rel="stylesheet" type="text/css" href="styles/course_responsive.css">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
<link rel="stylesheet" href="styles/style.css">
<style>
body{
	background-color: #e8fcf8;
	color: #525c65;
}


.touch:hover{
	color:blue;
}
li {
	padding-top: 5px;
}
.accordion:hover{
	color: #fff;
}
</style>
</head>
<body>

<div class="super_container">

	<!-- Header -->

	<header class="header">
			
		<!-- Top Bar -->
		

		<!-- Header Content -->
		<div class="header_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="header_content d-flex flex-row align-items-center justify-content-start">
							<div class="logo_container">
								<a href="/">
									<div class="logo_text">
										<img src="images/styc_logo.png" alt="logo" width="100px">
									</div>
								</a>
							</div>
							<nav class="main_nav_contaner ml-auto">
								<ul class="main_nav">
									<li><a href="/">Home</a></li>
									<li><a href="/internship">Internship</a></li>

									<li><a href="/mentor">Mentor</a></li>
									<li><a href="/contact">Contact</a></li>
									<li><a href="/signup" class="btn btn-primary">Log In/Sign Up</a></li>
								</ul>

								<!-- Hamburger -->

								<div class="hamburger menu_mm">
									<i class="fa fa-bars menu_mm" aria-hidden="true"></i>
								</div>
							</nav>

						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Header Search Panel -->
		<div class="header_search_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="header_search_content d-flex flex-row align-items-center justify-content-end">
							<form action="#" class="header_search_form">
								<input type="search" class="search_input" placeholder="Search" required="required">
								<button class="header_search_button d-flex flex-column align-items-center justify-content-center">
									<i class="fa fa-search" aria-hidden="true"></i>
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>			
		</div>			
	</header>

	<!-- Menu -->

	<div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
		<div class="menu_close_container"><div class="menu_close"><div></div><div></div></div></div>
		
		<nav class="menu_nav">
			<ul class="menu_mm">
				<li class="active"><a href="/">Home</a></li>
			    <li><a href="/internship">Internship</a></li>
				<li><a href="/mentor">Mentors</a></li>
				<li ><a href="/contact">Contact</a></li>
			</ul>
		</nav>
	</div>
	
	<!-- Home -->

	<div class="home" style="background-image: url(images/gra.png);">
		<div class="breadcrumbs_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="breadcrumbs" >
							<ul>
								<li><a href="/">Home</a></li>
								<li><a href="/internship">Internship</a></li>
								<li><a href="/mec">Mechanical/Automobile</a></li>
								<li style="color:#fff;">Engineering overhauling</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>			
	</div>

	<!-- Course -->

	<div class="course">
		<div class="container">
			<div class="row">

				<!-- Course -->
				<div class="col-lg-8">
					
					<div class="course_container">
						<div class="course_title">Engineering overhauling</div>
						<div class="course_info d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">

							<!-- Course Info Item -->
							<div class="course_info_item">
								<div class="course_info_title">Instructor</div>
								<div class="course_info_text"><a href="#">Jacke Masito</a></div>
							</div>

							

							<!-- Course Info Item -->
							<div class="course_info_item">
								<div class="course_info_title">Category</div>
								<div class="course_info_text"><a href="#">Programming Language</a></div>
							</div>
							<!-- Course Info Item -->
							<div class="course_info_item">
								<div class="rating_r rating_r_4"><i></i><i></i><i></i><i></i><i></i></div>
							</div>

						</div>

						<!-- Course Image -->
						<div class="course_image"><img src="images/over.jpg" alt="" style="width:100%;"></div>

						<!-- Course Tabs -->
						<div class="course_tabs_container">
							<div class="tabs d-flex flex-row align-items-center justify-content-start">
							</div>
							<div class="tab_panels">

								<!-- Description -->
								<div class="tab_panel active">
									<div class="tab_panel_title">Course Description</div>
									<div class="tab_panel_content">
										<div class="tab_panel_text">
											<p>The future definitely sounds intriguing for Automotive Engineers as they continue to develop the next generation of cars, while standing at the forefront of innovations like flying or self-driving cars.In 6 days of camp we offer an unique opportunity for all the young learners to come across all the modern and advanced techniques for a good application in the field. Also hands-on experience based on software adds more value to the course.

</p>
										</div>
										<div class="tab_panel_section">
											<div class="tab_panel_title">What You Will Learn </div>
											<ul class="tab_panel_bullets">
												<li>The concepts of automobile especially race cars along with the calculation of race-car dynamics.</li>
												<li>Hands-on training on designing and simulation software.</li>
												<li>Hands-on training on In-line 4 cylinder petrol engine(Maruti Santro) overhauling.</li>
												<li>Simulation of different parts & Fixture and Load assumptions.</li>
											</ul>
										</div>
										<div class="tab_panel_section">
											<div class="tab_panel_title">What You Will Get </div>
											<ul class="tab_panel_bullets">
												<li>Guaranteed Internship</li>
                    <li>Internship letter from Verzeo after successful completion of Projects.</li>
                    <li>Internship offers from different tied up companies based on your performance.</li>
                    <li>Opportunity to work on Major and Minor Projects mentored by these Corporate Trainers.</li>
                    <li>Gaining access to exclusive course content, etc., as part of the course.</li>
                    <li>Total of 2 projects, one major and one minor will be completed by the students under Mentor supervision.</li>
                    <li>Apply learning algorithms to building smart robots, text understanding, computer vision, medical informatics, audio, database mining, and other areas.</li>

											</ul>
										</div>
										<div class="tab_panel_faq">
											<div class="tab_panel_title">Curriculum</div>

											<!-- Accordions -->
											<div class="accordions">
												
												<div class="elements_accordions">

													<div class="accordion_container">
														<div class="accordion d-flex flex-row align-items-center"><div class="touch">Theory Session </div></div>
														<div class="accordion_panel">
															<ul>
																<li>Introduction to Designing.</li>
                                    <li>Introduction to sketching.</li>
                                    <li>Importance of sketching in Designing.</li>
                                    <li>Type of sketching.</li>
                                    <li>Sketching methodology and different parameter consideration during designing.</li>
                                    <li>Sketching of an Automobile.</li>
                                    <li>Introduction to Computer Aided Designing.</li>
                                    <li>Introduction to 3 basic modules of solid works.</li>
                                    <li>Different tools description of FEATURE command like extrude, revolve, swept, linear pattern, circular pattern used for designing real product.</li>
                                    <li>Importance of different results obtained during simulation like Factory of safety, Total deformation, Stress and strainresults.</li>

															</ul>														</div>
													</div>

													<div class="accordion_container">
														<div class="accordion d-flex flex-row align-items-center "><div class="touch">Practical Session</div></div>
														<div class="accordion_panel">
															<ul>
																<li>Uses of different software like Solidworks, Keyshot.</li>
                                    <li>2D sketching of part modelling.</li>
                                    <li>3D sketching of part modelling.</li>
                                    <li>Surfacing of a real automobile body.</li>
                                    <li>Different surfacing commands used to opt Real Automobile Body.</li>
                                    <li>Assembly of different parts built using Part Modelling command. Different mate command used for assembling complex parts.</li>
                                    <li>Simulation of different parts.</li>
                                    <li>Fixture and Load assumptions.</li>

															
															</ul>														</div>
													</div>

													
													
													
													
												</div>

											</div>
										</div>
									</div>
								</div>

								
										

								<!-- Reviews -->
								<div class="tab_panel tab_panel_3">
									<div class="tab_panel_title">Course Review</div>

								
									
									<!-- Comments -->
									<div class="comments_container">
										<ul class="comments_list">
											<li>
												<div class="comment_item d-flex flex-row align-items-start jutify-content-start">
													<div class="comment_content">
														
														<div class="comment_text">
														
													</div>
												</div>
												<ul>
													<li>
														<div class="comment_item d-flex flex-row align-items-start jutify-content-start">
															<div class="comment_content">
																<div class="comment_title_container d-flex flex-row align-items-center justify-content-start">
																	
																</div>
																																
															</div>
														</div>
													</li>
												</ul>
											</li>
											<li>
												<div class="comment_item d-flex flex-row align-items-start jutify-content-start">
													<div class="comment_content">
													
														
														
													</div>
												</div>
											</li>
										</ul>
										
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>

				<!-- Course Sidebar -->
				<div class="col-lg-4">
					<div class="sidebar">

						<!-- Feature -->
						<!-- Feature -->
						<div class="sidebar_section card"> 
							<div class="sidebar_section_title card-body bg-primary" style="text-align:center;padding-top:10px 10px 10px 10px;"><a href="" style="color: #fff;font-size: 20px;">Online Registration</a></div>
							<div class="sidebar_feature">
								<div class="course_price feature_title lister" >online</div>
								<br>
								<strong class="sidebar_section_title feature_title lister">price:  &#x20b9;4000.00 </strong>
								<br>
								<span class="feature_title lister" style="font-weight:bold;">50% off &nbsp; &nbsp;<strike>&#x20b9;11,000.00</strike></span>
								<!-- Features -->
								<div class="feature_list">
										
					
									<!-- Feature -->
									<div class="feature d-flex flex-row align-items-center justify-content-start">
										<span class="lister"><i class="fas fa-bullhorn icn no-shrink feature_title"></i>&nbsp;&nbsp;Placement Moblizer&nbsp;&nbsp;<i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right"></i></span>
									</div>
									<hr>
									<!-- Feature -->
									<div class="feature d-flex flex-row align-items-center justify-content-start">
										<span class="lister"><i class="fab fa-accessible-icon icn no-shrink feature_title"></i>&nbsp;&nbsp;Access to Webinars</span>
									</div>
									<hr>
									<!-- Feature -->
									<div class="feature d-flex flex-row align-items-center justify-content-start">
										<span class="lister"><i class="far fa-user feature_title"></i>&nbsp;&nbsp;Projects And Guaranteed Internships</span>
									</div>
									<hr>
									<!-- Feature -->
									<div class="feature d-flex flex-row align-items-center justify-content-start">
										<span class="lister"><i class="far fa-address-card  icn no-shrink  feature_title"></i>&nbsp;&nbsp;Certified By Industry Clients</span>
									</div>
									<hr>
									<!-- Feature -->
									<div class="feature d-flex flex-row align-items-center justify-content-start" style="padding-bottom:20px;">
											<span class="lister"><i class="fas fa-bullhorn icn no-shrink feature_title"></i>&nbsp;&nbsp; Online Portal</span>
									
									</div>

								</div>
							</div>
						</div>
<!-- Feature -->
						<div class="sidebar_section card"> 
								<div class="sidebar_section_title card-body bg-primary" style="padding-top:10px 2px 10px 2px;"><a href="" style="color: #fff;font-size: 20px;">Online + Offline Registration</a></div>
								<div class="sidebar_feature">
									<div class="course_price feature_title lister" >online+offline</div>
									<br>
									<strong class="sidebar_section_title feature_title lister">price: &#x20b9;5000.00 </strong>
									<br>
									<span class="feature_title lister" style="font-weight:bold;">50% off &nbsp; &nbsp;<strike>&#x20b9;11,000.00</strike></span>
									<hr>
									<!-- Features -->
									<div class="feature_list">
										
						
										<!-- Feature -->
										<div class="feature d-flex flex-row align-items-center justify-content-start">
												<span class="lister"><i class="far fa-clock icn no-shrink feature_title"></i> Duration:<br><span class="feature_title lister">Online: 12 Month Access
													<br><span class="feature_title lister">Offline: 7 days (includes Lunch)</span>
												</span></span>
												
												
											</div>
											<hr>
										<div class="feature d-flex flex-row align-items-center justify-content-start">
											<span class="lister"><i class="fas fa-bullhorn icn no-shrink feature_title"></i>&nbsp;&nbsp;Placement Moblizer&nbsp;&nbsp;<i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right"></i></span>
										</div>
										<hr>
										<!-- Feature -->
										<div class="feature d-flex flex-row align-items-center justify-content-start">
											<span class="lister"><i class="fab fa-accessible-icon icn no-shrink feature_title"></i>&nbsp;&nbsp;Access to Webinars</span>
										</div>
										<hr>
										<!-- Feature -->
										<div class="feature d-flex flex-row align-items-center justify-content-start">
											<span class="lister"><i class="far fa-user feature_title"></i>&nbsp;&nbsp;Projects And Guaranteed Internships</span>
										</div>
										<hr>
										<!-- Feature -->
										<div class="feature d-flex flex-row align-items-center justify-content-start">
											<span class="lister"><i class="far fa-address-card  icn no-shrink  feature_title"></i>&nbsp;&nbsp;Certified By Industry Clients</span>
										</div>
										<hr>
										<!-- Feature -->
										<div class="feature d-flex flex-row align-items-center justify-content-start" style="padding-bottom:20px;">
												<span class="lister"><i class="fas fa-bullhorn icn no-shrink feature_title"></i>&nbsp;&nbsp; Online Portal</span>
										
										</div>
	
									</div>
								</div>
							</div>


						<!-- Latest Course -->
						<div class="sidebar_section">
							<div class="sidebar_section_title">Latest Courses</div>
							<div class="sidebar_latest">

								<!-- Latest Course -->
								<div class="latest d-flex flex-row align-items-start justify-content-start">
									<div class="latest_image"><div><img src="images/ml.jpg" alt=""></div></div>
									<div class="latest_content">
										<div class="latest_title"><a href="/course">Machine Learning</a></div>
										<div class="latest_price">&#x20b9;4000</div>
									</div>
								</div>

								<!-- Latest Course -->
								<div class="latest d-flex flex-row align-items-start justify-content-start">
									<div class="latest_image"><div><img src="images/webb.jpg" alt=""></div></div>
									<div class="latest_content">
										<div class="latest_title"><a href="/web">Web Development</a></div>
										<div class="latest_price">&#x20b9;4000</div>
									</div>
								</div>

								<!-- Latest Course -->
								<div class="latest d-flex flex-row align-items-start justify-content-start">
									<div class="latest_image"><div><img src="images/azure.jpg" alt=""></div></div>
									<div class="latest_content">
										<div class="latest_title"><a href="/azure">Microsoft Azure</a></div>
										<div class="latest_price">&#x20b9;4000</div>
									</div>
								</div>

							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Newsletter -->

	
	<!-- Footer -->

	<footer class="footer">
		<div class="footer_background" style="background-image:url(images/footergradient.jpg)"></div>
		<div class="container">
			<div class="row footer_row">
				<div class="col">
					<div class="footer_content">
						<div class="row">

							<div class="col-lg-4 footer_col">

								<!-- Footer About -->
								<div class="footer_section footer_about">
									<div class="footer_logo_container">
											<div class="footer-styc-logo">

													<div><a href="/">	<img class="" src="images/styc_logo.png" alt="styc_logo" width="50%"></div>
													</a>
											</div>
									</div>
									<div class="footer_about_text">
										<p>We believe in Strengthening youths career in every possible way in a personalized manner to help students to reach their career goal not on some jobs.</p>
									</div>
									<!-- <div class="footer_social">
										<ul>
											<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
										</ul>
									</div> -->
								</div>

							</div>

							<div class="col-lg-4 footer_col">

								<!-- Footer Contact -->
								<div class="footer_section footer_contact">
									<div class="footer_title">Contact Us</div>
									<div class="footer_contact_info">
										<ul>
												<li>Email: support@styc.in</li>
												<li>Phone:  +(91) 6362886228 </li>
											<li>40 Baria Sreet 133/2 New York City, United States</li>
										</ul>
									</div>
								</div>

							</div>

							<div class="col-lg-4 footer_col">

								<!-- Footer links -->
								<div class="footer_section footer_links">
									<div class="footer_title">Contact Us</div>
									<div class="footer_links_container">
							<ul>
												<li><a href="/">Home</a></li>
												<li><a href="/about">About</a></li>
												<li><a href="/contact">Contact</a></li>
												<li><a href="/blog">Blogs</a></li>
												<li><a href="/internship">Courses</a></li>
												<li><a href="/events">Events</a></li>
												<li><a href="/Gallery">Gallery</a></li>
												<li><a href="/faq">FAQs</a></li>
											</ul>
									</div>
								</div>

							</div>

							<!-- <div class="col-lg-3 footer_col clearfix">


								<div class="footer_section footer_mobile">
									<div class="footer_title">Mobile</div>
									<div class="footer_mobile_content">
										<div class="footer_image"><a href="#"><img src="images/mobile_1.png" alt=""></a></div>
										<div class="footer_image"><a href="#"><img src="images/mobile_2.png" alt=""></a></div>
									</div>
								</div>

							</div> -->

						</div>
					</div>
				</div>
			</div>

			<div class="row copyright_row">
				<div class="col">
					<div class="copyright d-flex flex-lg-row flex-column align-items-center justify-content-start">
						<div class="cr_text"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
<span style="color:black">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</span>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
						<!-- <div class="ml-lg-auto cr_links">
							<ul class="cr_list">
								<li><a href="#">Copyright notification</a></li>
								<li><a href="#">Terms of Use</a></li>
								<li><a href="#">Privacy Policy</a></li>
							</ul>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>

  <script src="../dist/js/swiper.min.js"></script>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="styles/bootstrap4/popper.js"></script>
<script src="styles/bootstrap4/bootstrap.min.js"></script>
<script src="plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="plugins/easing/easing.js"></script>
<script src="plugins/parallax-js-master/parallax.min.js"></script>
<script src="plugins/colorbox/jquery.colorbox-min.js"></script>
<script src="js/course.js"></script>
</body>
</html>