<footer class="footer">
		<div class="footer_background" style="background-image:url(images/footergradient.jpg)"></div>
		<div class="container">
			<div class="row footer_row">
				<div class="col">
					<div class="footer_content">
						<div class="row">

							<div class="col-lg-4 footer_col">

								<!-- Footer About -->
								<div class="footer_section footer_about">
									<div class="footer_logo_container">
											<div class="footer-styc-logo">

													<div><a href="/">	<img class="" src="images/styc_logo.png" alt="styc_logo" width="50%"></div>
													</a>
											</div>
									</div>
									<div class="footer_about_text">
										<p>We believe in Strengthening youths career in every possible way in a personalized manner to help students to reach their career goal not on some jobs.</p>
									</div>
									
								</div>

							</div>

							<div class="col-lg-4 footer_col">

								<!-- Footer Contact -->
								<div class="footer_section footer_contact">
									<div class="footer_title">Contact Us</div>
									<div class="footer_contact_info">
										<ul>
											<li>Email: support@styc.in</li>
											<li>Phone:  +(91) 63628 86228</li>
											<!-- <li>40 Baria Sreet 133/2 New York City, United States</li> -->
										</ul>
									</div>
								</div>

							</div>

							<div class="col-lg-4 footer_col">

								<!-- Footer links -->
								<div class="footer_section footer_links">
									<div class="footer_title">Contact Us</div>
									<div class="footer_links_container">
											<ul>
												<li><a href="/">Home</a></li>
												<li><a href="/about">About</a></li>
												<li><a href="/contact">Contact</a></li>
												<li><a href="/blog">Blogs</a></li>
												<li><a href="/internship">Courses</a></li>
												<li><a href="/events">Events</a></li>
												<li><a href="/Gallery">Gallery</a></li>
												<li><a href="/faq">FAQs</a></li>
											</ul>
									</div>
								</div>

							</div>

							

						</div>
					</div>
				</div>
			</div>

			<div class="row copyright_row">
				<div class="col">
					<div class="copyright d-flex flex-lg-row flex-column align-items-center justify-content-start">
						<div class="cr_text">
<span style="color: black;">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved<span>
</div>
					
					</div>
				</div>
			</div>
		</div>
	</footer>